// Bootstrap variables override
@import "variables";

// Bootstrap
//@import "bootstrap/scss/bootstrap";

// Project styles
@import "layouts";
@import "fonts";
//@import "buttons";
@import "sections";
